<a href="https://colab.research.google.com/github/Sandeshjain-DS/ineuron_full_Stack_ds/blob/main/07_Functions_Revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- What Is A Function ?

- Function V/s Method

- Steps Required For Developing User Defined Function and Calling that Function

- Returning Values From Function

- Arguments V/s Parameters

- Types Of Arguments

- Variable Scope

- Local Scope

- Global Scope

- Argument Passing

- Anonymous Functions OR Lambda Function

- The map( ) Function

- The filter( ) Function

- Using map( ) and filter( ) with Lambda Expressions

## 07 Functions

- **Definition**: Function are nothing but a block of code which performs a specific task and can be called again and again as per requirement in the code.
- A generic way to write a simple function is shown below-
```python
def function_name():
    # function body starts
    pass
    # function body ends
# calling function in the code -
function_name() 
```

- **DRY**: It stands for **D**o not **R**epeat **Y**ourself. It means that a good generally should not contain repeated blocks of code. So if you observe in your code repeatition of certain lines of code then you can also make it a function and call as per your requirement. Let's see an example below-

### 7.1 A simple function definition
**EXAMPLE:**

In [ ]:
def function_name():
    # function body starts
    pass
    # function body ends

# calling function in the code -
function_name()

**EXAMPLE:**

In [ ]:
def greetings():
    print("Hi there from iNeuron")

# calling greeting function in the code -
greetings()

- We can also pass some values to the function. These values are known as arguments.A function can have following kind of arguments -
    - 1. Key word arguments: Here we define the name of arguments

**EXAMPLE**:
Observe the below code from Expressions, Operators, and Precedence Chapter-

In [ ]:
# Block One
BIKE = True
CAR = True
TRAVEL_100_KM = BIKE or CAR

print(f"You have BIKE: {BIKE}")
print(f"You have CAR: {CAR}")
print(f"You can travel 100 KMs: {TRAVEL_100_KM}\n")


# Block Two
BIKE = True
CAR = False
TRAVEL_100_KM = BIKE or CAR

print(f"You have BIKE: {BIKE}")
print(f"You have CAR: {CAR}")
print(f"You can travel 100 KMs: {TRAVEL_100_KM}\n")

# Block Three
BIKE = False
CAR = True
TRAVEL_100_KM = BIKE or CAR

print(f"You have BIKE: {BIKE}")
print(f"You have CAR: {CAR}")
print(f"You can travel 100 KMs: {TRAVEL_100_KM}\n")

# Block Four
BIKE = False
CAR = False
TRAVEL_100_KM = BIKE or CAR

print(f"You have BIKE: {BIKE}")
print(f"You have CAR: {CAR}")
print(f"You can travel 100 KMs: {TRAVEL_100_KM}\n")

**EXAMPLE**:
So above codes are repetetive. Now lets observe the below code which will give the same results as shown above but in avery less line of code. -

In [ ]:
def travel_or_not(BIKE, CAR):
    TRAVEL_100_KM = BIKE or CAR

    print(f"You have BIKE: {BIKE}")
    print(f"You have CAR: {CAR}")
    print(f"You can travel 100 KMs: {TRAVEL_100_KM}\n")

travel_or_not(False, False)

travel_or_not(False, True)

travel_or_not(True, False)

travel_or_not(True, True)

**EXAMPLE**:
Lets make it more concise using a for loop and remove the repetition-

In [ ]:
def travel_or_not(BIKE, CAR):
    TRAVEL_100_KM = BIKE or CAR

    print(f"You have BIKE: {BIKE}")
    print(f"You have CAR: {CAR}")
    print(f"You can travel 100 KMs: {TRAVEL_100_KM}\n")
    
BIKE = [False, False, True, True]
CAR = [False, True,False, True]

for bike, car in zip(BIKE, CAR):
    travel_or_not(bike, car)

### 7.2 Default Arguments

**EXAMPLE**:
Let's see a different varient of above code. You can also define a default value of the arguments which will be utilized when no argument is passed. as shown below -

In [ ]:
def travel_or_not(BIKE=True, CAR=False):
    TRAVEL_100_KM = BIKE or CAR

    print(f"You have BIKE: {BIKE}")
    print(f"You have CAR: {CAR}")
    print(f"You can travel 100 KMs: {TRAVEL_100_KM}\n")


travel_or_not()

In [ ]:
def travel_or_not(BIKE=True, CAR=False):
    TRAVEL_100_KM = BIKE or CAR

    print(f"You have BIKE: {BIKE}")
    print(f"You have CAR: {CAR}")
    print(f"You can travel 100 KMs: {TRAVEL_100_KM}\n")


travel_or_not(False, True) # overriding the default arguments value by passing our value

**EXAMPLE**: 
Here ```None``` gets printed if we try to print the ouput of the given function because it is not returning any value. Its just printing ther results.

In [ ]:
result = travel_or_not(False, True)
print(f"\nresults:-\n{result}")

### 7.3 Return statement

**EXAMPLE**:
In some cases you'd like to return some value from a function. So for that we use a return keyword to return the results as show below-

In [ ]:
def travel_or_not(BIKE=True, CAR=False):
    TRAVEL_100_KM = BIKE or CAR

    print(f"You have BIKE: {BIKE}")
    print(f"You have CAR: {CAR}")
    return f"You can travel 100 KMs: {TRAVEL_100_KM}\n"


result = travel_or_not(False, True)
print(f"\nresults:-\n{result}")

**EXAMPLE**:
You can also return multiple values as show below -

In [ ]:
def travel_or_not(BIKE=True, CAR=False):
    TRAVEL_100_KM = BIKE or CAR

    return BIKE, CAR, TRAVEL_100_KM


result1, result2, result3 = travel_or_not(False, True)
print(f"You have BIKE: {result1}")
print(f"You have CAR: {result2}")
print(f"You can travel 100 KMs: {result3}\n")

### 7.4 Variable length args

**EXAMPLE**:
At some point there may be chance that you don't know how many args that you should pass. Lets check the example below -

In [ ]:
def branch_and_subjects_in_graduation(*args, branch):
    print(f"My branch was {branch}")
    return f"I liked these subjects in graduation {args}"

results = branch_and_subjects_in_graduation("Digital Image Processing", "Microprocessor", branch="Electronics engineering")
print(results)

In [ ]:
def test(*args):
    print(args)
test(10,20,30,40,50)

In [ ]:
def branch_and_subjects_in_graduation(*args, branch="Electronics engineering"):
    print(f"My branch was {branch}")
    return f"I liked these subjects in graduation {args}"

results = branch_and_subjects_in_graduation("Digital Image Processing", "Microprocessor")
print(results)

### 7.5 Variable length keyword args

**EXAMPLE**:
Some times we need varying keyword arguments as shown below-

In [ ]:
def marks_in_subjects_of_semester(**kwargs):
    print(kwargs)

marks_in_subjects_of_semester(Digital_Image_Processing = 78, Microprocessor= 79, Signals_and_systems=83)

In [ ]:
def test1(**kwargs):
    print(kwargs)

In [ ]:
test1(a=10,b=20,c=30,d=40)

In [ ]:
A=[]
B=()

In [ ]:
def marks_in_subjects_of_semester(**kwargs):
    for subject, marks in kwargs.items():
        print(f"Score in {subject} = {marks}")

marks_in_subjects_of_semester(Digital_Image_Processing = 78, Microprocessor= 79, Signals_and_systems=83)

### 7.6 Functions inside functions -
**EXAMPLE**:

In [ ]:
def marks_in_subjects_of_semester(**kwargs):
    def total_marks(marks_list):
        return sum(marks_list)
    
    marks_list = list()
    for subject, marks in kwargs.items():
        marks_list.append(marks)
        print(f"Score in {subject} = {marks}")
    
    return total_marks(marks_list)

results = marks_in_subjects_of_semester(Digital_Image_Processing = 78, Microprocessor= 79, Signals_and_systems=83)

print(f"\ntotal marks obtained {results}")

### 7.7 Anonymous Function or Lambda Function

**EXAMPLE**: Lets convert below example into a onliner or lambda function

```python
def travel_or_not(BIKE=True, CAR=False):
    TRAVEL_100_KM = BIKE or CAR

    print(f"You have BIKE: {BIKE}")
    print(f"You have CAR: {CAR}")
    return f"You can travel 100 KMs: {TRAVEL_100_KM}\n"


result = travel_or_not(False, True)
print(f"\nresults:-\n{result}")
```

In [ ]:
BIKE=True
CAR=False

result = lambda BIKE, CAR: f"You can travel 100 KMs: {BIKE or CAR}\n"
print(f"\nresults:-\n{result(BIKE, CAR)}")

**EXAMPLE**
Lets make a lambda function that returns power of an input no. It takes power and number as an input

In [ ]:
number = 5
power = 3
result = lambda number, power: number**power

print(f"{number} to the power of {power} is {result(number, power)}")

### 7.8 Scope of variables
* Variables defined inside the function are known as Local variable

* Global varaibles can be accessed anywhere in the script unlike local variable who's scope is defined within the function only. 

**EXAMPLE**

In [ ]:
result = 0 # outside the scope of function

def divide(numerator, denominator):
    result = numerator//denominator # result inside the scope of function
    print(f"result after division inside the function: {result}")

numerator = 625
denominator = 5
divide(numerator, denominator)

print(f"result after division outside the function: {result}")

### 7.9 Docstring

```python
def function():
    """
    This is docstring of the function.
    """
    pass
```
**EXAMPLE**

In [ ]:
def find_power(number, power):
    """This function returns the power of the number

    Args:
        number (int): insert any integer value
        power (int): insert any integer value

    Returns:
        integer: power of number
    """
    return number**power

number = 5
power = 3
result = find_power(number, power)

print(f"{number} to the power of {power} is {result}")

In [ ]:
# This prints the docstring.
# Its very good practice to write the docstring of very important function
# It imroves code readabilty
help(find_power)

FUNCTIONS

## ----------------------------------------------------------------------

code re-usability.

To create and use a function we have to take 2 steps:


Function Definition: Creating or writing the body of a function is called defining it. It contains the set of statements we want to run , when the function execute.

Function Call: A function never runs automatically . So to execute it’s statements we must call it

In [ ]:
def function_name(param1,param2):
    statement(s)

### About Return Statement

- Return value

- Return multiple value

- it will stop the execution from that line itself

In [ ]:
def add(x,y):
    a=x
    b=y
    c=a+b
    #print(c)
    mul=x*y
    print(mul)
    return c

In [ ]:
add(10,20)

#### Parameter vs Argument

In Python , a function can have 4 types of arguments:

Positional Argument

Keyword Argument

Default Argument

Variable Length Argument

if number of argument is not matching with number of parameter then we will get a type error.

#### Positional Argument

In [ ]:
def attach(s1,s2):
    s3=s1+s2
    print("Joined String is:",s3)

In [ ]:
attach("Good","Evening")

In [ ]:
def grocery(name,price):
    print("Item is",name,"It's price is",price)

In [ ]:
grocery("Bread",20)

In [ ]:
grocery(150,"Butter")

#### Keyword Argument

In [ ]:
def grocery(name,price):
    print("Item is",name,"It's price is",price)

In [ ]:
grocery('bread',200)

In [ ]:
grocery(200,'bread')

In [ ]:
grocery(name="Bread",price=20)

In [ ]:
grocery(price=150,name="Butter")

In [ ]:
### A positional argument can never follow a keyword argument i.e. the keyword argument should always appear after positional argument

###For example:

In [ ]:
def display(num1,num2):
    # some code
    pass

In [ ]:
display(num1=10,15)

In [ ]:
display(15,num1=10)

In [ ]:
display(15,num2=10)

In [ ]:
def display(10,num2=15):
    pass

In [ ]:
Now if we call the above function as:



Then it will be correct. But if we call it as:



Then it will be a Syntax Error

### Default Argument

For some functions, we may want to make some parameters optional and use default values in case the user does not want to provide values for them. 

This is done with the help of default argument values. 

We can specify default argument values for parameters by appending to the parameter name in the function definition the assignment operator (=) followed by the default value.

#Syntax:
def function_name(paramname1=value,paramname2=value):
    # function body
    pass

In [ ]:
def greet(name,msg="Good Morning"):
    print("Hello",name,msg)

In [ ]:
greet("Sunny")

In [ ]:
greet("sunny","How are you?")

A function can have any number of default arguments but t once we have a default argument, all the arguments to it’s right must also have default values.


This means to say, non-default arguments cannot follow default arguments.

In [ ]:

def greet(msg = "Good morning!", name):
    pass

In [ ]:
For example:  if we had defined the function header above as:

def greet(msg = "Good morning!", name):

Then we would have got the following SyntaxError

In [ ]:
def show(a=10,b=20,c=30):
    print(a,b,c)

### Excercise

Write a function called cal_area( ) using default argument concept which accepts radius and pi as arguments and calculates and displays area of the Circle. The value of pi should be used as default argument and value of radius should be accepted from the user

### Function or Method Overloading

Method Overloading is an example of Compile time polymorphism.In this, more than one method of the same class shares the same method name having different parameters.If a class has multiple methods having same name but different in parameters, it is known as Method Overloading.

Note: Python does not support method overloading. We may overload the methods but can only use the latest defined method.

In [ ]:
def addnos(a,b):
    c=a+b
    return c

In [ ]:
def addnos(a,b,c):
    d=a+b+c
    return d

In [ ]:
def addnos(a,b,c,d):
    d=a+b+c+d
    return d

In [ ]:
addnos(10,20,30,40)

In [ ]:
print(addnos(10,20))

In [ ]:
print(addnos(10,20,30))

The error occurred because Python does not support Function or Method Overloading

Moreover Python understands the latest definition of a function addnos( ) which takes 3 arguments 

Now since we passed 2 arguments only , the call generated error because Python tried to call the method with 3 arguments

### Variable Length Arguments

The solution to this problem is a technique called variable length arguments




In this technique , we define the function in such a way that it can accept any number of arguments from 0 to infinite

In [ ]:
def test(**sunny):
    print(sunny)
    print(type(sunny))

In [ ]:
test(10)

In [ ]:
test(10,20)

In [ ]:
test(10,20,30)

In [ ]:
def addnos(*a):
    sum =0
    for x in a:
        sum=sum+x
    return sum

In [ ]:
print(addnos(10,20))
print(addnos(10,20,30)) 
print(addnos(10,20,30,40))

In [ ]:
type(10)

In [ ]:
type((10))

In [ ]:
type((10,))

### Method Overriding

Method overriding is an ability of any object-oriented programming language that allows a subclass or child class to provide a specific implementation of a method that is already provided by one of its super-classes or parent classes.

![image.png](attachment:image.png)

In [ ]:
# Defining parent class
class Animal():
      
    # Constructor
    def __init__(self):
        self.value = "Inside Parent"
          
    # Parent's show method
    def show(self):
        print(self.value)
    
    def eat(self):
        pass

In [ ]:
# Defining child class
class Dog(Animal):
      
    # Constructor
    def __init__(self):
        self.value = "Inside Child"
          
    # Child's show method
    def show(self):
        print(self.value)
    
    def eat(self):
        pass

In [ ]:
# Driver's code
obj1 = Parent()
obj2 = Child()
  
obj1.show()
obj2.show()

### Exercise
Write a function called find_largest( ) which accepts multiple strings as argument and returns the length of the largest string

In [ ]:
### A function cannot have 2 variable length arguments. So the following is wrong:

def addnos(*a,*b):
    pass

In [ ]:
#If we have any other argument along with variable length argument , then it should be set before the variable length argument
def addnos(n,*a):
    sum =n
    print(n)
    print(a)
    for x in a:
        sum=sum+x
    return sum

In [ ]:
print(addnos(10,20,30))

In [ ]:

print(addnos(10,20,30,40))

In [ ]:
#If we set the other argument used with variable length argument , after the variable length argument then while calling it , we must pass it as keyword argument

def addnos(*a,n):
    print(a)
    print(n)
    sum =n
    for x in a:
        sum=sum+x
    return sum

In [ ]:
addnos(20,30,n=40)

In [ ]:
print(addnos(20,30,n=10))

In [ ]:

print(addnos(20,30,40,n=10))

## User Defined Functions

Variable Scope

Local Scope

Global Scope

Argument Passing

In [ ]:
Local : Inside a function body
Enclosing: Inside an outer function’s body . We will discuss it later
Global: At the module level
Built In: At the interpreter level

In [ ]:
s = "I love Python"#global variable
def f(): 
    print(s) 
f()

In [ ]:
indentation

def test():
    ajcjc
    hjafhs
    hakfshks
kjgjsdsjkas

In [ ]:
def f(): 
    print(s) 
s = "I love Python"# global or local?
f()

In [ ]:
def f():
    print(p)
f()
p="I love Python"

In [ ]:
def f():
    s="I love Python"#local variable
    print(s)
f()

In [ ]:
def f():
    s1="I love Python"#local variable
    print(s1)
f()
print(s1)

In [ ]:
s2="I love Python"
def f():
    s2="I love C"
    print(s2)
    print(id(s2))
f()
print(s2)
print(id(s2))

In [ ]:
def f():
    global p1
    p1="I love C"
    print(p1)
    #print(id(p))
f()
print(p1)

In [ ]:
print(p)

In [ ]:
s1="I love Python"
def f():
    s1="I love C"
    print(s1)
    print(id(s1))
f()
print(s1)
print(id(s1))

I love C
2046596301936
I love Python
2046596301616

In [ ]:
s="I love Python"
def f():
    global s
    s="I love C"
    print(s)
    print(id(s))
f()
print(s)
print(id(s))

I love C
2046596303984
I love C
2046596303984

In [ ]:
s="I love Python"

In [ ]:

def f():
    global s
    print(s)
    s="I love C"
    print(s)
f()
print(s)

In [ ]:
a=1
def f():
    print ('Inside f() : ', a)
def g():    
    a = 2
    print ('Inside g() : ',a)
def h():    
    global a
    a = 3
    print ('Inside h() : ',a)
 
print ('global : ',a)
f()
print ('global : ',a)
g()
print ('global : ',a)
h()
print ('global : ',a)

Lambda Function

The map( ) Function

The filter( ) Function

Using map( ) and filter( ) with Lambda Expressions

### What is Anonymous Function

An anonymous function is a function that is defined without a name

### Difference between anonymous function and normal function

While normal functions are defined using the def keyword, we define anonymous functions using the lambda keyword.

### Syntax: lambda [arg1,arg2,..]:[expression]

lambda is a keyword/operator and can have any number of arguments.

But it can have only one expression. 

Python evaluates the expression and returns the result automatically

An expression here is anything that can return some value.

The following items qualify as expressions.

Arithmetic operations like a+b and a**b

Function calls like sum(a,b)

A print statement like print(“Hello”)

Assignment statements cannot be used in lambda , because they don’t return anything, not even None (null).

Simple things such as mathematical operations, string operations etc. are OK in a lambda.

Function calls are expressions, so it’s OK to put a function call in a lambda, and to pass arguments to that function. 

Even functions that return None, like the print function in Python 3, can be used in a lambda.

Single line if – else is also allowed as it also evaluates the condition and returns the result of true or false expression

In [ ]:
#Suppose, we want to make a function which will calculate sum of two numbers.

#In normal approach we will do as shown below:

def add(a,b): 
    return a+b

In [ ]:
add(10,20)

30

In [ ]:
#In case of lambda function we will write it as:

print((lambda a,b:a+b)(10,20))

30

A very common doubt is that when we can define our functions using def keyword , then why we require lambda functions ?

The most common use for lambda functions is in code that requires a simple one-line function, where it would be an overkill to write a complete normal function.

We will explore it in more detail when we will discuss two very important functions in Python called map( ) and filter( )

There are 2 ways to use a Lambda Function.


- Using it anonymously in inline mode

- Using it by assigning it to a variable

In [ ]:
#Using it as anonymous function

print((lambda a,b: a+b)(2,3))

In [ ]:
#Using it by assigning it to a variable

sum=lambda a,b: a+b

In [ ]:
print(sum(2,3))

5

In [ ]:



print(sum(5,9))

14

What is happening in this code ?

The statement lambda a,b:a+b , 

is creating a FUNCTION OBJECT

and returning that object . The

variable sum is referring to that

object. Now when we write sum(2,3), it behaves like function call

In [ ]:
sum=lambda a,b: a+b

print(type(sum))
print(sum)

In [ ]:
squareit=lambda a: a*a

print(squareit(25))
print(squareit(10))

In [ ]:
import math

squr=lambda a:math.sqrt(a)

In [ ]:
squr(25)

5.0

In [ ]:
st=lambda str:str[0]

In [ ]:
st("sunny")

's'

In [ ]:
iseven=lambda n: n%2==0

In [ ]:

print("10 is even :",iseven(11))

10 is even : False

In [ ]:

print("7 is even:",iseven(7))

In [ ]:
#Write a lambda function that accepts 2 arguments and returns the greater amongst them
maxnum=lambda a,b: a if a>b else b

In [ ]:
print("max amongst 10 and 20 :",maxnum(10,20))

max amongst 10 and 20 : 20

In [ ]:
print("max amongst 15 and 5 :",maxnum(15,5))

max amongst 15 and 5 : 15

### map() function in python

In [ ]:
#map() is a function which takes two arguments:
r = map(func, iterable)

The first argument func is the name of a function and the second argument  , iterable  ,should be a sequence (e.g. a list , tuple ,string etc) or anything that can be used with for loop. 

map() applies the function func to all the elements of the sequence iterable

### To understand this , let’s solve a problem

In [ ]:
#Suppose we want to define a function called square( ) that can accept a number as argument and returns it’s square.

#The definition of this function would be:

def square(num):
    return num**2

In [ ]:
square(5)

25

In [ ]:
square(25)

625

In [ ]:
#Now suppose we want to call this function for the following list of numbers:

mynums=[1,2,3,4,5]

In [ ]:
#One way to do this , will be to use a for loop 

mynums=[1,2,3,4,5]
for x in mynums:
    print(square(x))

1
4
9
16
25

In [ ]:
def square(num):
    return num**2
mynums=[1,2,3,4,5]
for x in mynums:
    print(square(x))

1
4
9
16
25

In [ ]:
<map at 0x1b3e7ae1880>

Another way to solve the previous problem is to use the map( ) function .
The map( ) function will accept 2 arguments from us. 

The first argument will be the name of the function square 

The second argument will be the list mynums.

It will then apply the function square on every element of mynum and return the corresponding result as map object

In [ ]:
def square(num):
    return num**2
mynums=(1,2,3,4,5)

In [ ]:
print(list(map(square,mynums)))

[1, 4, 9, 16, 25]

In [ ]:
def square(num):
    return num**2

mynums=[1,2,3,4,5]
result=map(square,mynums)
print(result)

As we can observe , the return value of map( ) function is a map object 

To convert it into actual numbers we can pass it to the function list( )

In [ ]:
def square(num):
    return num**2

mynums=[1,2,3,4,5]
result=map(square,mynums)

In [ ]:
result

In [ ]:
sqrnum=list(result)

In [ ]:


print(sqrnum)

[1, 4, 9, 16, 25]

In [ ]:
def square(num):
    return num**2


mynums=[1,2,3,4,5]
# we can club the 2 lines in 1 line

sqrnum=list(map(square,mynums))

print(sqrnum)

In [ ]:
#To make it even shorter we can directly pass the list( ) function to 
#the function print()
def square(num):
    return num**2

mynums=[1,2,3,4,5]
print(list(map(square,mynums)))

In [ ]:
#In case we want to iterate over this list , then we can use for loop
def square(num):
    return num**2

mynums=[1,2,3,4,5]
for x in map(square,mynums):
    print(x)

Write a function called inspect( ) that accepts a string as argument and returns the word EVEN if the string is of even length and returns it’s first character if the string is of odd length

Now call this function for first 3 month names

In [ ]:
def inspect(mystring):
    if len(mystring)%2==0:
        return "EVEN"
    else:
        return mystring[0]

months=["January","February","March"]
print(list(map(inspect,months)))

['J', 'EVEN', 'M']

### filter() function in python

Another way to solve the previous problem is to use the filter( ) function .


The flter( ) function will accept 2 arguments from us. 

The first argument will be the name of the function check_even 

The second argument will be the list mynums.

It will then apply the function check_even on every element of mynum and if check_even returned True for that element then filter( ) will return that element as a part of it’s return value otherwise that element will not be returned

In [ ]:
num=7

In [ ]:
num%2

1

In [ ]:
def check_even(num):
    return num%2!=0

In [ ]:
check_even(7)

True

In [ ]:
mynums=[1,2,3,4,5,6]

In [ ]:
value=filter(check_even,mynums)

In [ ]:
list(value)

[1, 3, 5]

In [ ]:



print()

<filter object at 0x000001F01B38DA00>

As we can observe , the return value of filter( ) function is a  filter object 

To convert it into actual numbers we can pass it to the function list( )

In [ ]:
def check_even(num):
    return num%2==0

mynums=[1,2,3,4,5,6]
print(list(filter(check_even,mynums)))

[2, 4, 6]

In [ ]:
#In case we want to iterate over this list , then we can use for loop 
#as shown below:
def check_even(num):
    return num%2==0

mynums=[1,2,3,4,5,6]
for x in filter(check_even,mynums):
    print(x)

2
4
6

In [ ]:
def f1(num):
    return num*num

mynums=[1,2,3,4,5]
print(list(filter(f1,mynums)))

[1, 2, 3, 4, 5]

Ideally , the function passed to filter( ) should return a boolean value. But if it doesn’t return boolean value , then whatever value it returns Python converts it to boolean . In our case for each value in mynums the return value will be it’s square which is a non-zero value and thus assumed to be True. So all the elements are returned by filter()

In [ ]:
def f1(num):
    return num%2

In [ ]:
f1(11)

1

In [ ]:
True+False

1

In [ ]:
def f1(num):
    print(num%2)
    #return num%2

mynums=[1,2,3,4,5]
print(list(filter(f1,mynums)))

1
0
1
0
1
[]

In [ ]:
filter(f1,mynums)

For every even number the return value of the function f1( ) will be 0 which is assumed to be False and for every odd number the return value will be 1 which is assumed to be True . Thus filter( ) returns only those numbers for which f1( ) has returned 1.

In [ ]:
def f1(num):
    print("Hello")

In [ ]:
f1(5)

Hello

In [ ]:
mynums=[1,2,3,4,5]
print(list(filter(f1,mynums)))

Hello
Hello
Hello
Hello
Hello
[]

Hello is displayed 5 times because the filter( ) function has called f1( ) function 5 times. Now for each value in mynums , since f1( ) has not returned any value , by default it’s return value is assumed to be None which is a representation of False. Thus filter( ) returned an empty list.

In [ ]:
def f1(num):
    pass

mynums=[1,2,3,4,5]
print(list(filter(f1,mynums)))

[]

For each value in mynums , since f1( ) has not returned any value , by default it’s return value is assumed to be None which is a representation of False. Thus filter( ) returned an empty list.

In [ ]:
def f1():
    pass

mynums=[1,2,3,4,5]
print(list(filter(f1,mynums)))

TypeError: f1() takes 0 positional arguments but 1 was given

The function filter() is trying to call f1( ) for every value in the list mynums. But since f1( ) is a non-parametrized function , this call generates TypeError

In [ ]:
def f1():
    pass

mynums=[]
print(list(filter(f1,mynums)))

In [ ]:
def f1(num):
    return num%2

mynums=[1,2,3,4,5]
print(list(map(f1,mynums)))

[1, 0, 1, 0, 1]

In [ ]:
def f1(num):
    return num%2

mynums=[1,2,3,4,5]
print(list(filter(f1,mynums)))

[1, 3, 5]

For every even number the return value of the function f1( ) will be 0 and for every odd number the return value will be 1. Thus map( ) has returned a list containing 1 and 0 for each number in mynums based upon even and odd.

In [ ]:
def f1(num):
    pass

mynums=[1,2,3,4,5]
print(list(map(f1,mynums)))

[None, None, None, None, None]

Since f1( ) is not returning anything , so it’s return value by default is assumed to be None  and because map( ) has internally called f1 () 5 times , so the list returned contains None 5 times

In [ ]:
def f1():
    pass

mynums=[]
print(list(map(f1,mynums)))

[]

The best use of Lambda Expression is to use it with map( ) and filter( ) functions




Recall that the keyword lambda creates an anonymous function and returns it’s address.

So , we can pass this lambda expression as first argument to map( ) and filter() functions , since their first argument is the a function object reference


In this way , we wouldn’t be required to specially create a separate function using the keyword def

In [ ]:
def square(num):
    return num**2

mynums=[1,2,3,4,5]
squrnum=list(map(square,mynums))
print(squrnum)

[1, 4, 9, 16, 25]

In [ ]:
#To convert the above code using lambda ,we have to do 2 changes:

#Remove the function square( )

#Rewrite this function as lambda in place of first argument while calling the function map( )

In [ ]:
map(lambda num: num*num,mynums)

In [ ]:
#Following will be the resultant code:

mynums=[1,2,3,4,5]
sqrnum=list(map(lambda num: num*num,mynums))
print(sqrnum)

[1, 4, 9, 16, 25]

### Exercise1

Write a lambda expression that accepts a string as argument and returns it’s first character

Now use this lambda expression in map( ) function 
to work on for first 3 month names

In [ ]:
list(map(lambda x:x[0],['bunny','sudhanshu','krish']))

['b', 's', 'k']

In [ ]:
months=["January","February","March"]
print(list(map(lambda mystring: mystring[0],months)))

### Exercise2

Write a lambda expression that accepts a string as argument and returns the word EVEN if the string is of even length and returns it’s first character if the string is of odd length

Now use this lambda expression in map( ) function 
to work on for first 3 month names

In [ ]:
list(map(lambda x:"EVEN" if len(x)%2==0 else x[0],['bunny','sudhansh','krish']))

['b', 'EVEN', 'k']

In [ ]:
months=["January","February","March"]
print(list(map(lambda mystring: "EVEN" if len(mystring)%2==0 else 
mystring[0],months)))

### Exercise3

Write a lambda expression that accepts a character as argument and returns True if it is a vowel otherwise False

Now ask the user to input his/her name and display 
only the vowels in the name . In case the name does 
not contain any vowel display the message No vowels 
in your name

In [ ]:
mynums=[1,2,3,4,5,6]
print(list(filter(lambda num:num%2==0 ,mynums)))

[2, 4, 6]

In [ ]:
Write a lambda expression that accepts a character as argument and returns True if it is a vowel otherwise False

Now ask the user to input his/her name and display 
only the vowels in the name . In case the name does 
not contain any vowel display the message No vowels 
in your name

In [ ]:
name=input("Enter your name:")
vowels=list(filter(lambda ch: ch in "aeiou" ,name))
if len(vowels)==0:
    print("No vowels in your name")
else:
    print("Vowels in your name are:",vowels)

In [ ]:
def between(number, min=0, max=1000):
    return max > number > min

# Only returns number between 10 and 1000
filter(lambda x: between(x, min=10), range(10000))

In [ ]:
a=42

In [ ]:
b=42

In [ ]:
c=42

In [ ]:
id(a)

140703981190208

In [ ]:
id(b)

140703981190208

In [ ]:
id(c)

140703981190208

In [ ]:
a=43

In [ ]:
id(a)

140703981190240

In [ ]:
id(b)

140703981190208

In [ ]:
id(c)

140703981190208

In [ ]:
b

42

In [ ]:
c

42

In [ ]:
a

43

In [ ]:
a=42

In [ ]:
id(a)

140703981190208

In [ ]:
a=10

In [ ]:
id(a)

140703981189184

In [ ]:
a=20

In [ ]:
id(20)

140703981189504

In [ ]:
a=30

In [ ]:
id(a)

140703981189824

In [ ]:
a="sunny"

In [ ]:
b="sudhanshu"

In [ ]:
a is b

False

In [ ]:
id(a)

2130760172912

In [ ]:
id(b)

2130793892016

In [ ]:
a="ravi"

In [ ]:
b="ravi"

In [ ]:
a is b

True

In [ ]:
id(a)

2130794293872

In [ ]:
id(b)

2130794293872

In [ ]:
a=[1,2,3,4,5]

In [ ]:
id(a)

2130794313536

In [ ]:
type(a)

list

In [ ]:
a[3]=7

In [ ]:
a

[1, 2, 3, 7, 5]

In [ ]:
id(a)

2130794313536

In [ ]:
a=42

In [ ]:
id(a)

140703981190208

In [ ]:
a=43

In [ ]:
id(a)

140703981190240

In [ ]:
tup=(1,2,3,4,5)

In [ ]:
tup[0]=4

TypeError: 'tuple' object does not support item assignment

In [ ]:
id(tup)

2130761246416

In [ ]:
tup=(787,87348,98734985)

In [ ]:
id(tup)

2130793806976